h1
{
    background-color: blue;
    border-radius: 20px;
}
h2
{
    background-color: blue;
    border-radius: 20px;
}
h3
{
    background-color: blue;
    border-radius: 20px;
}
h4
{
    background-color: blue;
    border-radius: 20px;
}
h5
{
    background-color: blue;
    border-radius: 20px;
}
h6
{
    background-color: blue;
    border-radius: 20px;
}